<html>
<head>
  <meta charset="utf-8">
  <title>Airbnb home</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:300,400,500,700">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
  <div>
    <h1 class='text-center'>Our team</h1>
  </div>

  <ul class="list-inline text-center">
    <% ["anne", "seb", "romain"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpg", class: "img-circle avatar-larger" %>
      <h3><%= member.capitalize %></h3>
    </li>
    <% end %>
  </ul>

  <div class="text-center padded">
    <% link_to '#', class: "btn btn-primary" do %>
    <i class="fa fa-envelope"></i> contact@airbnb.com
    <% end %>
  </div>

</body>
</html>
